@font-face {
    font-family: "Scriptina";
    font-display: swap;
    src: url(../fonts/Scriptina-regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Proxima-Nova";
    font-display: swap;
    src: url(../fonts/ProximaNova-Regular.woff2);
    font-weight: 400;
}